.images-container
	display flex
	flex-wrap nowrap
	justify-content space-between
	align-items flex-start
	padding-top 45px

	&__logo
		margin-top 20px

	&__dossier
		margin-top 120px
		margin-left 50px