.checkbox
	margin-bottom 10px
	cursor pointer

	input[type="checkbox"]
		display none

	input[type="checkbox"]:checked + &__label::after
		display block

	&__label
		display inline-block
		max-width 230px
		font-size 21px
		font-family PTSans
		font-weight bold
		color color-label
		line-height 1.2
		padding-left 30px
		position relative
		cursor pointer

		&::before,
		&::after
			display block
			content ''
			position absolute
			background url('../../spritesheet.png') no-repeat

		&::before
			top 3px
			left 0
			width 19px
			height 18px
			background-position -106px -15px

		&::after
			display none
			top -7px
			left 3px
			width 21px
			height 27px
			background-position -205px -15px