 @font-face
   font-family PTSans
   font-style normal
   src url(../../fonts/PT_Sans-Web-Regular.ttf)

 @font-face
   font-family PTSans
   font-style bold
   src url(../../fonts/PT_Sans-Web-Bold.ttf)

 @font-face
   font-family CourierNew
   font-style normal
   src url(../../fonts/CourierNewRegular.ttf)